## DBS course Project (Summer Semester 2021 - FU Berlin)
## Data Preprocessing

In this script all .csv files containing data for the project are cleaned and put otgether to create final csv files. These final csv files will be ready to be uploaded in PgAdmin4 as a table of the final project assignment database.

In [1]:
# general utility import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns
import requests
import os

In [2]:
# directory management
wdir = os.getcwd()
ddir = os.path.join(os.path.dirname(wdir),'data')
raw_data_dir = os.path.join(ddir,'raw')
final_data_dir = os.path.join(ddir,'final')

## COUNTRY table
We use the population growth csv file to extract country names as well as their codes. In addition, we map each country to the part of the world it belongs to and add this information in a column. In the relational model of the project the COUNTRY table is as follows:

COUNTRY(Name,Code,PartOfWorld)
PRIMARY KEY (Name)

### Import csv files

In [3]:
#import population growth
pop_growth = pd.read_csv(os.path.join(raw_data_dir,'population_growth.csv'),header=0)

In [4]:
pop_growth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 65 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            0 non-null      float64
 5   1961            260 non-null    float64
 6   1962            260 non-null    float64
 7   1963            260 non-null    float64
 8   1964            260 non-null    float64
 9   1965            260 non-null    float64
 10  1966            260 non-null    float64
 11  1967            260 non-null    float64
 12  1968            260 non-null    float64
 13  1969            260 non-null    float64
 14  1970            260 non-null    float64
 15  1971            260 non-null    float64
 16  1972            260 non-null    float64
 17  1973            260 non-null    float64
 18  1974            260 non-null    float64
 19  1975            260 non-null    float64
 20  1976            260 non-null    float64
 21  1977            260 non-null    float64
 22  1978            260 non-null    float64
 23  1979            260 non-null    float64
 24  1980            260 non-null    float64
 25  1981            260 non-null    float64
 26  1982            260 non-null    float64
 27  1983            260 non-null    float64
 28  1984            260 non-null    float64
 29  1985            260 non-null    float64
 30  1986            260 non-null    float64
 31  1987            260 non-null    float64
 32  1988            260 non-null    float64
 33  1989            260 non-null    float64
 34  1990            261 non-null    float64
 35  1991            261 non-null    float64
 36  1992            261 non-null    float64
 37  1993            261 non-null    float64
 38  1994            261 non-null    float64
 39  1995            261 non-null    float64
 40  1996            262 non-null    float64
 41  1997            262 non-null    float64
 42  1998            262 non-null    float64
 43  1999            263 non-null    float64
 44  2000            263 non-null    float64
 45  2001            263 non-null    float64
 46  2002            263 non-null    float64
 47  2003            263 non-null    float64
 48  2004            263 non-null    float64
 49  2005            263 non-null    float64
 50  2006            263 non-null    float64
 51  2007            263 non-null    float64
 52  2008            263 non-null    float64
 53  2009            263 non-null    float64
 54  2010            263 non-null    float64
 55  2011            263 non-null    float64
 56  2012            262 non-null    float64
 57  2013            262 non-null    float64
 58  2014            262 non-null    float64
 59  2015            262 non-null    float64
 60  2016            262 non-null    float64
 61  2017            262 non-null    float64
 62  2018            262 non-null    float64
 63  2019            262 non-null    float64
 64  2020            0 non-null      float64
dtypes: float64(61), object(4)
memory usage: 134.2+ KB

In [5]:
country = pop_growth[['Country Name','Country Code']]
# what countries are in the csv file?
country['Country Name'].unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', 'Korea, Dem. People’s Rep.', 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

We see that some rows in the csv file correspond to "aggregates of countries" e.g. 'South Asia (IDA & IBRD)' or 'High income'. For the purposes of this project we remove these rows.

In [6]:
rows_to_exclude = ['East Asia & Pacific (excluding high income)',
                   'Early-demographic dividend',
                   'Small states',
                   'Middle income',
                   'Least developed countries: UN classification', 
                   'Low income',
                   'Euro area', 
                   'European Union', 
                   'Fragile and conflict affected situations',
                   'Early-demographic dividend',
                   'East Asia & Pacific',
                   'Europe & Central Asia (excluding high income)',
                   'Europe & Central Asia',
                   'North America',
                   'Central Europe and the Baltics',
                   'Lower middle income',
                   'IBRD only', 'IDA & IBRD total', 'IDA total',
                   'IDA blend', 'IDA only',
                   'Not classified',
                   'Low & middle income',
                   'Small states',
                   'Late-demographic dividend',
                   'Middle East & North Africa',
                   'Heavily indebted poor countries (HIPC)',
                   'Pre-demographic dividend',
                   'Sub-Saharan Africa (excluding high income)',
                   'Sub-Saharan Africa',
                   'OECD members',
                   'High income',
                   'Upper middle income',
                   'Other small states',
                   'Middle East & North Africa (excluding high income)',
                   'Latin America & Caribbean',
                   'Latin America & the Caribbean (IDA & IBRD countries)',
                   'Middle East & North Africa (IDA & IBRD countries)',
                   'South Asia (IDA & IBRD)',
                   'Post-demographic dividend',
                   'East Asia & Pacific (IDA & IBRD countries)',
                   'Europe & Central Asia (IDA & IBRD countries)',
                   'Latin America & Caribbean (excluding high income)',
                   'Sub-Saharan Africa (IDA & IBRD countries)',
                   'Arab World',
                   'World',
                   'South Asia',
                   'Pacific island small states',
                   'Caribbean small states']
country = country[~country['Country Name'].isin(rows_to_exclude)]
country['Country Name'].unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra',
       'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas, The', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bermuda', 'Bolivia', 'Brazil', 'Barbados',
       'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland',
       'Channel Islands', 'Chile', 'China', "Cote d'Ivoire", 'Cameroon',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Colombia', 'Comoros',
       'Cabo Verde', 'Costa Rica', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador',
       'Egypt, Arab Rep.', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'Hong Kong SAR, China', 'Honduras', 'Croatia',
       'Haiti', 'Hungary', 'Indonesia', 'Isle of Man', 'India', 'Ireland',
       'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel', 'Italy',
       'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'Korea, Rep.', 'Kuwait', 'Lao PDR', 'Lebanon', 'Liberia', 'Libya',
       'St. Lucia', 'Liechtenstein', 'Sri Lanka', 'Lesotho', 'Lithuania',
       'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Mexico', 'Marshall Islands',
       'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'Namibia', 'New Caledonia',
       'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal',
       'Nauru', 'New Zealand', 'Oman', 'Pakistan', 'Panama', 'Peru',
       'Philippines', 'Palau', 'Papua New Guinea', 'Poland',
       'Puerto Rico', 'Korea, Dem. People’s Rep.', 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'French Polynesia', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador',
       'San Marino', 'Somalia', 'Serbia', 'South Sudan',
       'Sao Tome and Principe', 'Suriname', 'Slovak Republic', 'Slovenia',
       'Sweden', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles',
       'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad', 'Togo',
       'Thailand', 'Tajikistan', 'Turkmenistan', 'Timor-Leste', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania',
       'Uganda', 'Ukraine', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'Samoa', 'Kosovo', 'Yemen, Rep.', 'South Africa',
       'Zambia', 'Zimbabwe'], dtype=object)

In [7]:
country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217 entries, 0 to 263
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  217 non-null    object
 1   Country Code  217 non-null    object
dtypes: object(2)
memory usage: 5.1+ KB

Now we add a new column with the part of the world a country belongs to (following the classification in https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups)

In [8]:
import lxml
import itertools

url = 'https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups'
html = requests.get(url).content
df_list = pd.read_html(html)

parts_of_world = {}
# east asia and pacific
for c in [x for x in list(itertools.chain.from_iterable(df_list[1].values.tolist())) if x != 'nan']:
    parts_of_world[c]='East Asia and Pacific'

# europe and central asia
for c in [x for x in list(itertools.chain.from_iterable(df_list[2].values.tolist())) if x != 'nan']:
    parts_of_world[c]='Europe and Central Asia'

# latin america and the caribbean
for c in [x for x in list(itertools.chain.from_iterable(df_list[3].values.tolist())) if x != 'nan']:
    parts_of_world[c]='Latin America and the Caribbean'

# middle east and north africa
for c in [x for x in list(itertools.chain.from_iterable(df_list[4].values.tolist())) if x != 'nan']:
    parts_of_world[c]='Middle East and North Africa'

# north america
for c in [x for x in list(itertools.chain.from_iterable(df_list[5].values.tolist())) if x != 'nan']:
    parts_of_world[c]='North America'

# south asia
for c in [x for x in list(itertools.chain.from_iterable(df_list[6].values.tolist())) if x != 'nan']:
    parts_of_world[c]='South Asia'

# sub-saharan africa
for c in [x for x in list(itertools.chain.from_iterable(df_list[7].values.tolist())) if x != 'nan']:
    parts_of_world[c]='Sub-saharan Africa'

# fixing remaining states individually
parts_of_world['Bosnia and Herzegovina']='Europe and Central Asia'
parts_of_world['Central African Republic']='Sub-saharan Africa'
parts_of_world['Channel Islands']='Europe and Central Asia'
parts_of_world["Cote d'Ivoire"]='Sub-saharan Africa'
parts_of_world['Congo, Rep.']='Sub-saharan Africa'
parts_of_world['Czech Republic']='Europe and Central Asia'
parts_of_world['Egypt, Arab Rep.']='Middle East and North Africa'
parts_of_world['Faroe Islands']='Europe and Central Asia'
parts_of_world['Equatorial Guinea']='Sub-saharan Africa'	
parts_of_world['Iran, Islamic Rep.']='Middle East and North Africa'
parts_of_world['Korea, Dem. People’s Rep.']='East Asia and Pacific'
parts_of_world['Sao Tome and Principe']='Sub-saharan Africa'

country['Part_of_World'] = country['Country Name'].map(parts_of_world)
country[country['Part_of_World'].isnull()]

Empty DataFrame
Columns: [Country Name, Country Code, Part_of_World]
Index: []

In [9]:
country.head(50)

                Country Name Country Code                    Part_of_World
0                      Aruba          ABW  Latin America and the Caribbean
1                Afghanistan          AFG                       South Asia
2                     Angola          AGO               Sub-saharan Africa
3                    Albania          ALB          Europe and Central Asia
4                    Andorra          AND          Europe and Central Asia
6       United Arab Emirates          ARE     Middle East and North Africa
7                  Argentina          ARG  Latin America and the Caribbean
8                    Armenia          ARM          Europe and Central Asia
9             American Samoa          ASM            East Asia and Pacific
10       Antigua and Barbuda          ATG  Latin America and the Caribbean
11                 Australia          AUS            East Asia and Pacific
12                   Austria          AUT          Europe and Central Asia
13                Azerbaijan          AZE          Europe and Central Asia
14                   Burundi          BDI               Sub-saharan Africa
15                   Belgium          BEL          Europe and Central Asia
16                     Benin          BEN               Sub-saharan Africa
17              Burkina Faso          BFA               Sub-saharan Africa
18                Bangladesh          BGD                       South Asia
19                  Bulgaria          BGR          Europe and Central Asia
20                   Bahrain          BHR     Middle East and North Africa
21              Bahamas, The          BHS  Latin America and the Caribbean
22    Bosnia and Herzegovina          BIH          Europe and Central Asia
23                   Belarus          BLR          Europe and Central Asia
24                    Belize          BLZ  Latin America and the Caribbean
25                   Bermuda          BMU                    North America
26                   Bolivia          BOL  Latin America and the Caribbean
27                    Brazil          BRA  Latin America and the Caribbean
28                  Barbados          BRB  Latin America and the Caribbean
29         Brunei Darussalam          BRN            East Asia and Pacific
30                    Bhutan          BTN                       South Asia
31                  Botswana          BWA               Sub-saharan Africa
32  Central African Republic          CAF               Sub-saharan Africa
33                    Canada          CAN                    North America
35               Switzerland          CHE          Europe and Central Asia
36           Channel Islands          CHI          Europe and Central Asia
37                     Chile          CHL  Latin America and the Caribbean
38                     China          CHN            East Asia and Pacific
39             Cote d'Ivoire          CIV               Sub-saharan Africa
40                  Cameroon          CMR               Sub-saharan Africa
41          Congo, Dem. Rep.          COD               Sub-saharan Africa
42               Congo, Rep.          COG               Sub-saharan Africa
43                  Colombia          COL  Latin America and the Caribbean
44                   Comoros          COM               Sub-saharan Africa
45                Cabo Verde          CPV               Sub-saharan Africa
46                Costa Rica          CRI  Latin America and the Caribbean
48                      Cuba          CUB  Latin America and the Caribbean
49                   Curacao          CUW  Latin America and the Caribbean
50            Cayman Islands          CYM  Latin America and the Caribbean
51                    Cyprus          CYP          Europe and Central Asia
52            Czech Republic          CZE          Europe and Central Asia

In [11]:
# save final csv file
country.to_csv(os.path.join(final_data_dir,'COUNTRY.csv'),index=False)

## POPULATION TABLE

In [20]:
#import population total.csv
pop = pd.read_csv(os.path.join(raw_data_dir,'population_total.csv'),header=0) 
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12595 entries, 0 to 12594
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  12595 non-null  object
 1   Year          12595 non-null  int64
 2   Count         12595 non-null  int64
dtypes: int64(2), object(1)
memory usage: 295.3+ KB

In [21]:
pop = pop[pop['Country Name'].isin(country['Country Name'].unique().tolist())]
# now population growth
pop_growth = pd.read_csv(os.path.join(raw_data_dir,'population_growth.csv'),header=0) 
pop_growth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 65 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            0 non-null      float64
 5   1961            260 non-null    float64
 6   1962            260 non-null    float64
 7   1963            260 non-null    float64
 8   1964            260 non-null    float64
 9   1965            260 non-null    float64
 10  1966            260 non-null    float64
 11  1967            260 non-null    float64
 12  1968            260 non-null    float64
 13  1969            260 non-null    float64
 14  1970            260 non-null    float64
 15  1971            260 non-null    float64
 16  1972            260 non-null    float64
 17  1973            260 non-null    float64
 18  1974            260 non-null    float64
 19  1975            260 non-null    float64
 20  1976            260 non-null    float64
 21  1977            260 non-null    float64
 22  1978            260 non-null    float64
 23  1979            260 non-null    float64
 24  1980            260 non-null    float64
 25  1981            260 non-null    float64
 26  1982            260 non-null    float64
 27  1983            260 non-null    float64
 28  1984            260 non-null    float64
 29  1985            260 non-null    float64
 30  1986            260 non-null    float64
 31  1987            260 non-null    float64
 32  1988            260 non-null    float64
 33  1989            260 non-null    float64
 34  1990            261 non-null    float64
 35  1991            261 non-null    float64
 36  1992            261 non-null    float64
 37  1993            261 non-null    float64
 38  1994            261 non-null    float64
 39  1995            261 non-null    float64
 40  1996            262 non-null    float64
 41  1997            262 non-null    float64
 42  1998            262 non-null    float64
 43  1999            263 non-null    float64
 44  2000            263 non-null    float64
 45  2001            263 non-null    float64
 46  2002            263 non-null    float64
 47  2003            263 non-null    float64
 48  2004            263 non-null    float64
 49  2005            263 non-null    float64
 50  2006            263 non-null    float64
 51  2007            263 non-null    float64
 52  2008            263 non-null    float64
 53  2009            263 non-null    float64
 54  2010            263 non-null    float64
 55  2011            263 non-null    float64
 56  2012            262 non-null    float64
 57  2013            262 non-null    float64
 58  2014            262 non-null    float64
 59  2015            262 non-null    float64
 60  2016            262 non-null    float64
 61  2017            262 non-null    float64
 62  2018            262 non-null    float64
 63  2019            262 non-null    float64
 64  2020            0 non-null      float64
dtypes: float64(61), object(4)
memory usage: 134.2+ KB

In [22]:
pop_growth.drop(columns=['Indicator Name','Indicator Code'],inplace=True)
pop_growth =pop_growth[pop_growth['Country Name'].isin(country['Country Name'].unique().tolist())]
# use melt method to bring table from wide to long format
pop_growth_new = pd.melt(pop_growth, id_vars=['Country Name','Country Code'],value_vars=[str(i) for i in range(1960,2021)],var_name='Year',value_name='Growth')
pop_growth_new.head(100)

   Country Name Country Code  Year  Growth
0         Aruba          ABW  1960     NaN
1   Afghanistan          AFG  1960     NaN
2        Angola          AGO  1960     NaN
3       Albania          ALB  1960     NaN
4       Andorra          AND  1960     NaN
..          ...          ...   ...     ...
95        Italy          ITA  1960     NaN
96      Jamaica          JAM  1960     NaN
97       Jordan          JOR  1960     NaN
98        Japan          JPN  1960     NaN
99   Kazakhstan          KAZ  1960     NaN

[100 rows x 4 columns]

In [23]:
pop_growth_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13237 entries, 0 to 13236
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  13237 non-null  object
 1   Country Code  13237 non-null  object
 2   Year          13237 non-null  object
 3   Growth        12693 non-null  float64
dtypes: float64(1), object(3)
memory usage: 413.8+ KB

In [24]:
pop_growth_new['Year']=pop_growth_new['Year'].astype(str).astype(int)

In [25]:
merge1 = pd.merge(pop,
                  pop_growth_new,
                  how='left',
                  left_on=['Country Name','Year'],
                  right_on=['Country Name','Year'],
                  suffixes=('', '_y'),
                  indicator=True).fillna(np.nan)

                Country Name  Year      Count Country Code  Growth _merge
0                      Aruba  1960      54211          ABW     NaN   both
1                Afghanistan  1960    8996973          AFG     NaN   both
2                     Angola  1960    5454933          AGO     NaN   both
3                    Albania  1960    1608800          ALB     NaN   both
4                    Andorra  1960      13411          AND     NaN   both
5       United Arab Emirates  1960      92418          ARE     NaN   both
6                  Argentina  1960   20481779          ARG     NaN   both
7                    Armenia  1960    1874121          ARM     NaN   both
8             American Samoa  1960      20123          ASM     NaN   both
9        Antigua and Barbuda  1960      54131          ATG     NaN   both
10                 Australia  1960   10276477          AUS     NaN   both
11                   Austria  1960    7047539          AUT     NaN   both
12                Azerbaijan  1960    3895397          AZE     NaN   both
13                   Burundi  1960    2797932          BDI     NaN   both
14                   Belgium  1960    9153489          BEL     NaN   both
15                     Benin  1960    2431622          BEN     NaN   both
16              Burkina Faso  1960    4829288          BFA     NaN   both
17                Bangladesh  1960   48013504          BGD     NaN   both
18                  Bulgaria  1960    7867374          BGR     NaN   both
19                   Bahrain  1960     162427          BHR     NaN   both
20              Bahamas, The  1960     109534          BHS     NaN   both
21    Bosnia and Herzegovina  1960    3225668          BIH     NaN   both
22                   Belarus  1960    8198000          BLR     NaN   both
23                    Belize  1960      92064          BLZ     NaN   both
24                   Bermuda  1960      44400          BMU     NaN   both
25                   Bolivia  1960    3656955          BOL     NaN   both
26                    Brazil  1960   72179226          BRA     NaN   both
27                  Barbados  1960     230980          BRB     NaN   both
28         Brunei Darussalam  1960      81702          BRN     NaN   both
29                    Bhutan  1960     223288          BTN     NaN   both
30                  Botswana  1960     502745          BWA     NaN   both
31  Central African Republic  1960    1501668          CAF     NaN   both
32                    Canada  1960   17909009          CAN     NaN   both
33               Switzerland  1960    5327827          CHE     NaN   both
34           Channel Islands  1960     109420          CHI     NaN   both
35                     Chile  1960    8132990          CHL     NaN   both
36                     China  1960  667070000          CHN     NaN   both
37             Cote d'Ivoire  1960    3503553          CIV     NaN   both
38                  Cameroon  1960    5176918          CMR     NaN   both
39          Congo, Dem. Rep.  1960   15248251          COD     NaN   both
40               Congo, Rep.  1960    1018253          COG     NaN   both
41                  Colombia  1960   16057724          COL     NaN   both
42                   Comoros  1960     191121          COM     NaN   both
43                Cabo Verde  1960     201765          CPV     NaN   both
44                Costa Rica  1960    1330782          CRI     NaN   both
45                      Cuba  1960    7141250          CUB     NaN   both
46                   Curacao  1960     124826          CUW     NaN   both
47            Cayman Islands  1960       7865          CYM     NaN   both
48                    Cyprus  1960     572930          CYP     NaN   both
49            Czech Republic  1960    9602006          CZE     NaN   both

In [27]:
merge1.head(500)

       Country Name  Year     Count Country Code    Growth _merge
0             Aruba  1960     54211          ABW       NaN   both
1       Afghanistan  1960   8996973          AFG       NaN   both
2            Angola  1960   5454933          AGO       NaN   both
3           Albania  1960   1608800          ALB       NaN   both
4           Andorra  1960     13411          AND       NaN   both
..              ...   ...       ...          ...       ...    ...
495           Gabon  1962    511287          GAB  1.079172   both
496  United Kingdom  1962  53250000          GBR  0.848661   both
497         Georgia  1962   3760300          GEO  1.519342   both
498           Ghana  1962   7071971          GHA  3.213951   both
499       Gibraltar  1962     24313          GIB  2.077954   both

[500 rows x 6 columns]

In [28]:
merge1.drop(columns=['_merge'],inplace=True)
# save final csv file
merge1.to_csv(os.path.join(final_data_dir,'POPULATION.csv'),index=False)

## CO2 TABLE

CO2(Cname,Year,Emission,IndoorPollution,OutdoorPollution)

In [15]:
#import co2_emission.csv
emissions = pd.read_csv(os.path.join(raw_data_dir,'co2_emission.csv'),header=0) 
#import indoor pollution
indoorp = pd.read_csv(os.path.join(raw_data_dir,'death-rate-by-source-from-indoor-air-pollution.csv'),header=0) 
#import outdoor pollution
outdoorp = pd.read_csv(os.path.join(raw_data_dir,'outdoor-pollution-death-rate.csv'),header=0)

In [16]:
# merging emissions indoor (keep only rows whose country names are in COUNTRY table)
emissions = emissions[emissions['Entity'].isin(country['Country Name'].unique().tolist())]
emissions.drop(columns=['Code'],inplace=True)
emissions.rename(columns={"Annual CO₂ emissions (tonnes )": "co2emissions"},inplace=True)
indoorp.drop(columns=['Code'],inplace=True)
indoorp.rename(columns={'Deaths - Household air pollution from solid fuels - Sex: Both - Age: Age-standardized (Rate)':'indoor_death_rate'},inplace=True)
outdoorp.drop(columns=['Code'],inplace=True)
outdoorp.rename(columns={'Death rate – Outdoor air pollution (age-standardized) (IHME)':'outdoor_death_rate'},inplace=True)

merge1 = pd.merge(emissions,
                  indoorp,
                  how='left',
                  left_on=['Entity','Year'],
                  right_on=['Entity','Year'],
                  suffixes=('', '_y'),
                  indicator=True).fillna(np.nan)

merge1.head(50)

         Entity  Year  co2emissions  indoor_death_rate     _merge
0   Afghanistan  1949      14656.00                NaN  left_only
1   Afghanistan  1950      84272.00                NaN  left_only
2   Afghanistan  1951      91600.00                NaN  left_only
3   Afghanistan  1952      91600.00                NaN  left_only
4   Afghanistan  1953     106256.00                NaN  left_only
5   Afghanistan  1954     106256.00                NaN  left_only
6   Afghanistan  1955     153888.00                NaN  left_only
7   Afghanistan  1956     183200.00                NaN  left_only
8   Afghanistan  1957     293120.00                NaN  left_only
9   Afghanistan  1958     329760.00                NaN  left_only
10  Afghanistan  1959     384571.42                NaN  left_only
11  Afghanistan  1960     413883.42                NaN  left_only
12  Afghanistan  1961     490797.70                NaN  left_only
13  Afghanistan  1962     688594.27                NaN  left_only
14  Afghanistan  1963     706735.98                NaN  left_only
15  Afghanistan  1964     838550.83                NaN  left_only
16  Afghanistan  1965    1006916.53                NaN  left_only
17  Afghanistan  1966    1091158.82                NaN  left_only
18  Afghanistan  1967    1281865.11                NaN  left_only
19  Afghanistan  1968    1223389.69                NaN  left_only
20  Afghanistan  1969     941231.98                NaN  left_only
21  Afghanistan  1970    1670397.69                NaN  left_only
22  Afghanistan  1971    1893931.41                NaN  left_only
23  Afghanistan  1972    1531165.69                NaN  left_only
24  Afghanistan  1973    1637243.40                NaN  left_only
25  Afghanistan  1974    1915677.68                NaN  left_only
26  Afghanistan  1975    2124525.68                NaN  left_only
27  Afghanistan  1976    1984225.38                NaN  left_only
28  Afghanistan  1977    2386745.67                NaN  left_only
29  Afghanistan  1978    2155419.66                NaN  left_only
30  Afghanistan  1979    2234903.94                NaN  left_only
31  Afghanistan  1980    1757021.97                NaN  left_only
32  Afghanistan  1981    1979372.53                NaN  left_only
33  Afghanistan  1982    2095539.37                NaN  left_only
34  Afghanistan  1983    2520091.42                NaN  left_only
35  Afghanistan  1984    2822415.06                NaN  left_only
36  Afghanistan  1985    3501893.65                NaN  left_only
37  Afghanistan  1986    3134071.92                NaN  left_only
38  Afghanistan  1987    3114159.90                NaN  left_only
39  Afghanistan  1988    2857083.90                NaN  left_only
40  Afghanistan  1989    2764887.89                NaN  left_only
41  Afghanistan  1990    2602407.59         250.362910       both
42  Afghanistan  1991    2426486.16         242.575125       both
43  Afghanistan  1992    1381521.84         232.043878       both
44  Afghanistan  1993    1333837.11         231.648134       both
45  Afghanistan  1994    1282488.38         238.837177       both
46  Afghanistan  1995    1231139.65         239.906599       both
47  Afghanistan  1996    1165134.92         238.512050       both
48  Afghanistan  1997    1084474.19         238.113520       both
49  Afghanistan  1998    1029461.47         238.680150       both

In [17]:
merge1.drop(columns=['_merge'],inplace=True)
# repeat for outdoor pollution
co = pd.merge(merge1,
              outdoorp,
              how='left',
              left_on=['Entity','Year'],
              right_on=['Entity','Year'],
              suffixes=('', '_y'),
              indicator=True).fillna(np.nan)

co.head(50)

,Entity,Year,co2emissions,indoor_death_rate,outdoor_death_rate,_merge
0,Afghanistan,1949,14656.00,NaN,NaN,left_only
1,Afghanistan,1950,84272.00,NaN,NaN,left_only
2,Afghanistan,1951,91600.00,NaN,NaN,left_only
3,Afghanistan,1952,91600.00,NaN,NaN,left_only
4,Afghanistan,1953,106256.00,NaN,NaN,left_only
5,Afghanistan,1954,106256.00,NaN,NaN,left_only
6,Afghanistan,1955,153888.00,NaN,NaN,left_only
7,Afghanistan,1956,183200.00,NaN,NaN,left_only
8,Afghanistan,1957,293120.00,NaN,NaN,left_only
9,Afghanistan,1958,329760.00,NaN,NaN,left_only
10,Afghanistan,1959,384571.42,NaN,NaN,left_only
11,Afghanistan,1960,413883.42,NaN,NaN,left_only
12,Afghanistan,1961,490797.70,NaN,NaN,left_only
13,Afghanistan,1962,688594.27,NaN,NaN,left_only
14,Afghanistan,1963,706735.98,NaN,NaN,left_only
15,Afghanistan,1964,838550.83,NaN,NaN,left_only
16,Afghanistan,1965,1006916.53,NaN,NaN,left_only
17,Afghanistan,1966,1091158.82,NaN,NaN,left_only
18,Afghanistan,1967,1281865.11,NaN,NaN,left_only
19,Afghanistan,1968,1223389.69,NaN,NaN,left_only
20,Afghanistan,1969,941231.98,NaN,NaN,left_only
21,Afghanistan,1970,1670397.69,NaN,NaN,left_only
22,Afghanistan,1971,1893931.41,NaN,NaN,left_only
23,Afghanistan,1972,1531165.69,NaN,NaN,left_only
24,Afghanistan,1973,1637243.40,NaN,NaN,left_only
25,Afghanistan,1974,1915677.68,NaN,NaN,left_only
26,Afghanistan,1975,2124525.68,NaN,NaN,left_only
27,Afghanistan,1976,1984225.38,NaN,NaN,left_only
28,Afghanistan,1977,2386745.67,NaN,NaN,left_only
29,Afghanistan,1978,2155419.66,NaN,NaN,left_only
30,Afghanistan,1979,2234903.94,NaN,NaN,left_only
31,Afghanistan,1980,1757021.97,NaN,NaN,left_only
32,Afghanistan,1981,1979372.53,NaN,NaN,left_only
33,Afghanistan,1982,2095539.37,NaN,NaN,left_only
34,Afghanistan,1983,2520091.42,NaN,NaN,left_only
35,Afghanistan,1984,2822415.06,NaN,NaN,left_only
36,Afghanistan,1985,3501893.65,NaN,NaN,left_only
37,Afghanistan,1986,3134071.92,NaN,NaN,left_only
38,Afghanistan,1987,3114159.90,NaN,NaN,left_only
39,Afghanistan,1988,2857083.90,NaN,NaN,left_only
40,Afghanistan,1989,2764887.89,NaN,NaN,left_only
41,Afghanistan,1990,2602407.59,250.362910,52.06,both
42,Afghanistan,1991,2426486.16,242.575125,51.64,both
43,Afghanistan,1992,1381521.84,232.043878,49.86,both
44,Afghanistan,1993,1333837.11,231.648134,50.10,both
45,Afghanistan,1994,1282488.38,238.837177,51.31,both
46,Afghanistan,1995,1231139.65,239.906599,51.11,both
47,Afghanistan,1996,1165134.92,238.512050,51.13,both
48,Afghanistan,1997,1084474.19,238.113520,51.34,both
49,Afghanistan,1998,1029461.47,238.680150,50.60,both

In [18]:
co.drop(columns=['_merge'],inplace=True)
co.head(50)

         Entity  Year  co2emissions  indoor_death_rate  outdoor_death_rate
0   Afghanistan  1949      14656.00                NaN                 NaN
1   Afghanistan  1950      84272.00                NaN                 NaN
2   Afghanistan  1951      91600.00                NaN                 NaN
3   Afghanistan  1952      91600.00                NaN                 NaN
4   Afghanistan  1953     106256.00                NaN                 NaN
5   Afghanistan  1954     106256.00                NaN                 NaN
6   Afghanistan  1955     153888.00                NaN                 NaN
7   Afghanistan  1956     183200.00                NaN                 NaN
8   Afghanistan  1957     293120.00                NaN                 NaN
9   Afghanistan  1958     329760.00                NaN                 NaN
10  Afghanistan  1959     384571.42                NaN                 NaN
11  Afghanistan  1960     413883.42                NaN                 NaN
12  Afghanistan  1961     490797.70                NaN                 NaN
13  Afghanistan  1962     688594.27                NaN                 NaN
14  Afghanistan  1963     706735.98                NaN                 NaN
15  Afghanistan  1964     838550.83                NaN                 NaN
16  Afghanistan  1965    1006916.53                NaN                 NaN
17  Afghanistan  1966    1091158.82                NaN                 NaN
18  Afghanistan  1967    1281865.11                NaN                 NaN
19  Afghanistan  1968    1223389.69                NaN                 NaN
20  Afghanistan  1969     941231.98                NaN                 NaN
21  Afghanistan  1970    1670397.69                NaN                 NaN
22  Afghanistan  1971    1893931.41                NaN                 NaN
23  Afghanistan  1972    1531165.69                NaN                 NaN
24  Afghanistan  1973    1637243.40                NaN                 NaN
25  Afghanistan  1974    1915677.68                NaN                 NaN
26  Afghanistan  1975    2124525.68                NaN                 NaN
27  Afghanistan  1976    1984225.38                NaN                 NaN
28  Afghanistan  1977    2386745.67                NaN                 NaN
29  Afghanistan  1978    2155419.66                NaN                 NaN
30  Afghanistan  1979    2234903.94                NaN                 NaN
31  Afghanistan  1980    1757021.97                NaN                 NaN
32  Afghanistan  1981    1979372.53                NaN                 NaN
33  Afghanistan  1982    2095539.37                NaN                 NaN
34  Afghanistan  1983    2520091.42                NaN                 NaN
35  Afghanistan  1984    2822415.06                NaN                 NaN
36  Afghanistan  1985    3501893.65                NaN                 NaN
37  Afghanistan  1986    3134071.92                NaN                 NaN
38  Afghanistan  1987    3114159.90                NaN                 NaN
39  Afghanistan  1988    2857083.90                NaN                 NaN
40  Afghanistan  1989    2764887.89                NaN                 NaN
41  Afghanistan  1990    2602407.59         250.362910               52.06
42  Afghanistan  1991    2426486.16         242.575125               51.64
43  Afghanistan  1992    1381521.84         232.043878               49.86
44  Afghanistan  1993    1333837.11         231.648134               50.10
45  Afghanistan  1994    1282488.38         238.837177               51.31
46  Afghanistan  1995    1231139.65         239.906599               51.11
47  Afghanistan  1996    1165134.92         238.512050               51.13
48  Afghanistan  1997    1084474.19         238.113520               51.34
49  Afghanistan  1998    1029461.47         238.680150               50.60

In [19]:
# save final csv file
co.to_csv(os.path.join(final_data_dir,'POLLUTION.csv'),index=False)

## GDP TABLE

In [24]:
gdp = pd.read_csv(os.path.join(raw_data_dir,'gdp.csv'),header=0)
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 66 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            131 non-null    float64
 5   1961            132 non-null    float64
 6   1962            135 non-null    float64
 7   1963            135 non-null    float64
 8   1964            135 non-null    float64
 9   1965            144 non-null    float64
 10  1966            148 non-null    float64
 11  1967            152 non-null    float64
 12  1968            156 non-null    float64
 13  1969            156 non-null    float64
 14  1970            167 non-null    float64
 15  1971            168 non-null    float64
 16  1972            168 non-null    float64
 17  1973            168 non-null    float64
 18  1974            169 non-null    float64
 19  1975            172 non-null    float64
 20  1976            173 non-null    float64
 21  1977            176 non-null    float64
 22  1978            175 non-null    float64
 23  1979            176 non-null    float64
 24  1980            187 non-null    float64
 25  1981            190 non-null    float64
 26  1982            191 non-null    float64
 27  1983            192 non-null    float64
 28  1984            193 non-null    float64
 29  1985            195 non-null    float64
 30  1986            197 non-null    float64
 31  1987            201 non-null    float64
 32  1988            206 non-null    float64
 33  1989            206 non-null    float64
 34  1990            223 non-null    float64
 35  1991            222 non-null    float64
 36  1992            223 non-null    float64
 37  1993            228 non-null    float64
 38  1994            230 non-null    float64
 39  1995            236 non-null    float64
 40  1996            236 non-null    float64
 41  1997            236 non-null    float64
 42  1998            238 non-null    float64
 43  1999            239 non-null    float64
 44  2000            245 non-null    float64
 45  2001            245 non-null    float64
 46  2002            250 non-null    float64
 47  2003            250 non-null    float64
 48  2004            251 non-null    float64
 49  2005            251 non-null    float64
 50  2006            252 non-null    float64
 51  2007            252 non-null    float64
 52  2008            251 non-null    float64
 53  2009            251 non-null    float64
 54  2010            252 non-null    float64
 55  2011            254 non-null    float64
 56  2012            253 non-null    float64
 57  2013            253 non-null    float64
 58  2014            253 non-null    float64
 59  2015            252 non-null    float64
 60  2016            251 non-null    float64
 61  2017            251 non-null    float64
 62  2018            249 non-null    float64
 63  2019            230 non-null    float64
 64  2020            0 non-null      float64
 65  Unnamed: 65     0 non-null      float64
dtypes: float64(62), object(4)
memory usage: 136.2+ KB

In [25]:
# drop indicator name and indicator code since for all rows it's the same value ('GDP (current US$)' with indicator code 'NY.GDP.MKTP.CD')
gdp.drop(columns=['Indicator Name','Indicator Code'],inplace=True)
gdp =gdp[gdp['Country Name'].isin(country['Country Name'].unique().tolist())]
# use melt method to bring table from wide to long format
gdp_new = pd.melt(gdp, id_vars=['Country Name','Country Code'],value_vars=[str(i) for i in range(1960,2021)],var_name='Year',value_name='Gdp')
gdp_new.head(100)

   Country Name Country Code  Year           Gdp
0         Aruba          ABW  1960           NaN
1   Afghanistan          AFG  1960  5.377778e+08
2        Angola          AGO  1960           NaN
3       Albania          ALB  1960           NaN
4       Andorra          AND  1960           NaN
..          ...          ...   ...           ...
95        Italy          ITA  1960  4.038529e+10
96      Jamaica          JAM  1960  6.990507e+08
97       Jordan          JOR  1960           NaN
98        Japan          JPN  1960  4.430734e+10
99   Kazakhstan          KAZ  1960           NaN

[100 rows x 4 columns]

In [27]:
gdp_new.drop(columns=['Country Code'],inplace=True)

In [29]:
# save final csv file
gdp_new.to_csv(os.path.join(final_data_dir,'GDP.csv'),index=False)

## EDUCATION table

In [45]:
#import %gdp spent on primary edu
sharegdp_primary = pd.read_csv(os.path.join(raw_data_dir,'government-expenditure-on-primary-education-as-share-of-gdp.csv'),header=0) 
#import %gdp spent on secondary edu
sharegdp_secondary = pd.read_csv(os.path.join(raw_data_dir,'government-expenditure-on-secondary-education-as-share-of-gdp.csv'),header=0) 
#import %gdp spent on tertiary edu
sharegdp_tertiary = pd.read_csv(os.path.join(raw_data_dir,'government-expenditure-on-tertiary-education-as-share-of-gdp.csv'),header=0) 
#import shar epop with tertiary education
sharepop_tertiary = pd.read_csv(os.path.join(raw_data_dir,'share-of-the-population-with-completed-tertiary-education.csv'),header=0) 
#import primary completion rate
primary_rate = pd.read_csv(os.path.join(raw_data_dir,'primary-completion-rate.csv'),header=0) 
#import lower secondary completion rate
secondary_rate = pd.read_csv(os.path.join(raw_data_dir,'completion-rate-of-lower-secondary-education.csv'),header=0)

In [46]:
# merging emissions indoor (keep only rows whose country names are in COUNTRY table)
sharegdp_primary =sharegdp_primary[sharegdp_primary['Entity'].isin(country['Country Name'].unique().tolist())]
sharegdp_primary.drop(columns=['Code'],inplace=True)
sharegdp_primary.rename(columns={"Government expenditure on primary education as % of GDP (%)": "share_gdp_primary"},inplace=True)
sharegdp_secondary.drop(columns=['Code'],inplace=True)
sharegdp_secondary.rename(columns={"Government expenditure on secondary education as % of GDP (%)": "share_gdp_secondary"},inplace=True)
sharegdp_tertiary.drop(columns=['Code'],inplace=True)
sharegdp_tertiary.rename(columns={"Government expenditure on tertiary education as % of GDP (%)": "share_gdp_tertiary"},inplace=True)
sharepop_tertiary.drop(columns=['Code'],inplace=True)
sharepop_tertiary.rename(columns={"Barro-Lee: Percentage of population age 15+ with tertiary schooling. Completed Tertiary": "share_pop_tertiary"},inplace=True)
primary_rate.drop(columns=['Code'],inplace=True)
primary_rate.rename(columns={"Primary completion rate, both sexes (%)": "primary_rate"},inplace=True)
secondary_rate.drop(columns=['Code'],inplace=True)
secondary_rate.rename(columns={"Lower secondary completion rate, both sexes (%)": "secondary_rate"},inplace=True)

merge1 = pd.merge(sharegdp_primary,
                  sharegdp_secondary,
                  how='left',
                  left_on=['Entity','Year'],
                  right_on=['Entity','Year'],
                  suffixes=('', '_y'),
                  indicator=True).fillna(np.nan)

merge1.head(50)

                 Entity  Year  share_gdp_primary  share_gdp_secondary _merge
0               Albania  2013            2.01439              0.70164   both
1               Algeria  1999            1.90130              2.05297   both
2               Algeria  2000            1.54447              1.67496   both
3               Algeria  2002            1.61838              1.87599   both
4               Algeria  2003            1.64054              1.91257   both
5               Andorra  2002            0.46050              0.27419   both
6               Andorra  2004            0.44866              0.28753   both
7               Andorra  2005            0.38623              0.32995   both
8               Andorra  2006            0.52133              0.47156   both
9               Andorra  2007            0.53180              0.51119   both
10              Andorra  2009            0.83439              0.82665   both
11              Andorra  2010            0.88587              0.64181   both
12              Andorra  2011            0.91004              0.67473   both
13              Andorra  2013            0.79157              0.86799   both
14              Andorra  2014            0.68306              0.62840   both
15               Angola  2005            0.77381              1.17068   both
16               Angola  2006            0.71714              0.96789   both
17  Antigua and Barbuda  1999            1.07176              1.20681   both
18  Antigua and Barbuda  2002            0.98372              1.21113   both
19  Antigua and Barbuda  2009            1.06300              1.23617   both
20            Argentina  1998            1.41680              1.34174   both
21            Argentina  1999            1.64341              1.66881   both
22            Argentina  2000            1.63477              1.63532   both
23            Argentina  2001            1.83290              1.77037   both
24            Argentina  2002            1.42350              1.57648   both
25            Argentina  2003            1.34384              1.31715   both
26            Argentina  2004            1.15831              1.19314   both
27            Argentina  2005            1.18798              1.44823   both
28            Argentina  2006            1.28080              1.46277   both
29            Argentina  2007            1.38224              1.52914   both
30            Argentina  2008            1.52314              1.70014   both
31            Argentina  2009            1.60404              1.99380   both
32            Argentina  2010            1.52263              1.82643   both
33            Argentina  2011            1.59406              2.01806   both
34            Argentina  2012            1.62144              2.06197   both
35            Argentina  2013            1.60496              2.21926   both
36              Armenia  2012            0.70850              1.50941   both
37              Armenia  2013            0.53297              1.29543   both
38                Aruba  1998            1.09873              1.19068   both
39                Aruba  1999            1.18456              1.28447   both
40                Aruba  2000            1.33183              1.30588   both
41                Aruba  2001            1.23860              1.40056   both
42                Aruba  2002            1.42795              1.37938   both
43                Aruba  2004            1.17736              1.25303   both
44                Aruba  2005            1.25127              1.25296   both
45            Australia  2000            1.66751              1.88884   both
46            Australia  2005            1.70099              1.95092   both
47            Australia  2006            1.65922              1.87900   both
48            Australia  2007            1.63799              1.81488   both
49            Australia  2008            1.64197              1.78998   both

In [47]:
merge1.drop(columns=['_merge'],inplace=True)
merge2 = pd.merge(merge1,
                  sharegdp_tertiary,
                  how='left',
                  left_on=['Entity','Year'],
                  right_on=['Entity','Year'],
                  suffixes=('', '_y'),
                  indicator=True).fillna(np.nan)

merge2.head(10)

,Entity,Year,share_gdp_primary,share_gdp_secondary,share_gdp_tertiary,_merge
0,Albania,2013,2.01439,0.70164,0.77585,both
1,Algeria,1999,1.90130,2.05297,NaN,left_only
2,Algeria,2000,1.54447,1.67496,NaN,left_only
3,Algeria,2002,1.61838,1.87599,NaN,left_only
4,Algeria,2003,1.64054,1.91257,NaN,left_only
5,Andorra,2002,0.46050,0.27419,0.11678,both
6,Andorra,2004,0.44866,0.28753,0.07608,both
7,Andorra,2005,0.38623,0.32995,0.06213,both
8,Andorra,2006,0.52133,0.47156,0.14541,both
9,Andorra,2007,0.53180,0.51119,0.09400,both

In [48]:
merge2.drop(columns=['_merge'],inplace=True)
merge3 = pd.merge(merge2,
                  sharepop_tertiary,
                  how='left',
                  left_on=['Entity','Year'],
                  right_on=['Entity','Year'],
                  suffixes=('', '_y'),
                  indicator=True).fillna(np.nan)

merge3.head(10)

,Entity,Year,share_gdp_primary,share_gdp_secondary,share_gdp_tertiary,share_pop_tertiary,_merge
0,Albania,2013,2.01439,0.70164,0.77585,NaN,left_only
1,Algeria,1999,1.90130,2.05297,NaN,NaN,left_only
2,Algeria,2000,1.54447,1.67496,NaN,3.4,both
3,Algeria,2002,1.61838,1.87599,NaN,NaN,left_only
4,Algeria,2003,1.64054,1.91257,NaN,NaN,left_only
5,Andorra,2002,0.46050,0.27419,0.11678,NaN,left_only
6,Andorra,2004,0.44866,0.28753,0.07608,NaN,left_only
7,Andorra,2005,0.38623,0.32995,0.06213,NaN,left_only
8,Andorra,2006,0.52133,0.47156,0.14541,NaN,left_only
9,Andorra,2007,0.53180,0.51119,0.09400,NaN,left_only

In [49]:
merge3.drop(columns=['_merge'],inplace=True)
merge4 = pd.merge(merge3,
                  primary_rate,
                  how='left',
                  left_on=['Entity','Year'],
                  right_on=['Entity','Year'],
                  suffixes=('', '_y'),
                  indicator=True).fillna(np.nan)

merge4.head(10)

,Entity,Year,share_gdp_primary,share_gdp_secondary,share_gdp_tertiary,share_pop_tertiary,primary_rate,_merge
0,Albania,2013,2.01439,0.70164,0.77585,NaN,94.522743,both
1,Algeria,1999,1.90130,2.05297,NaN,NaN,82.347382,both
2,Algeria,2000,1.54447,1.67496,NaN,3.4,79.735428,both
3,Algeria,2002,1.61838,1.87599,NaN,NaN,87.855370,both
4,Algeria,2003,1.64054,1.91257,NaN,NaN,89.627739,both
5,Andorra,2002,0.46050,0.27419,0.11678,NaN,NaN,left_only
6,Andorra,2004,0.44866,0.28753,0.07608,NaN,NaN,left_only
7,Andorra,2005,0.38623,0.32995,0.06213,NaN,NaN,left_only
8,Andorra,2006,0.52133,0.47156,0.14541,NaN,NaN,left_only
9,Andorra,2007,0.53180,0.51119,0.09400,NaN,NaN,left_only

In [50]:
merge4.drop(columns=['_merge'],inplace=True)
merge5 = pd.merge(merge4,
                  secondary_rate,
                  how='left',
                  left_on=['Entity','Year'],
                  right_on=['Entity','Year'],
                  suffixes=('', '_y'),
                  indicator=True).fillna(np.nan)

merge5.head(10)

,Entity,Year,share_gdp_primary,share_gdp_secondary,share_gdp_tertiary,share_pop_tertiary,primary_rate,secondary_rate,_merge
0,Albania,2013,2.01439,0.70164,0.77585,NaN,94.522743,93.156128,both
1,Algeria,1999,1.90130,2.05297,NaN,NaN,82.347382,54.926979,both
2,Algeria,2000,1.54447,1.67496,NaN,3.4,79.735428,51.519070,both
3,Algeria,2002,1.61838,1.87599,NaN,NaN,87.855370,60.337181,both
4,Algeria,2003,1.64054,1.91257,NaN,NaN,89.627739,61.132599,both
5,Andorra,2002,0.46050,0.27419,0.11678,NaN,NaN,NaN,left_only
6,Andorra,2004,0.44866,0.28753,0.07608,NaN,NaN,NaN,left_only
7,Andorra,2005,0.38623,0.32995,0.06213,NaN,NaN,NaN,left_only
8,Andorra,2006,0.52133,0.47156,0.14541,NaN,NaN,NaN,left_only
9,Andorra,2007,0.53180,0.51119,0.09400,NaN,NaN,NaN,left_only

In [51]:
merge5.drop(columns=['_merge'],inplace=True)
# save final csv file
merge5.to_csv(os.path.join(final_data_dir,'EDUCATION.csv'),index=False)

## HEALTH TABLE

In [53]:
#import life expectancy
life_exp = pd.read_csv(os.path.join(raw_data_dir,'life-expectancy.csv'),header=0) 
#import mental health as a share of disease burden
mental_share = pd.read_csv(os.path.join(raw_data_dir,'mental-and-substance-use-as-share-of-disease.csv'),header=0) 
#import share of pop with mental health problems
mental_pop = pd.read_csv(os.path.join(raw_data_dir,'share-with-mental-and-substance-disorders.csv'),header=0) 
#import share gdp spent on health
gdp_health = pd.read_csv(os.path.join(raw_data_dir,'total-healthcare-expenditure-as-share-of-national-gdp-by-country.csv'),header=0)

In [54]:
life_exp = life_exp[life_exp['Year']>=1960]
life_exp =life_exp[life_exp['Entity'].isin(country['Country Name'].unique().tolist())]
life_exp.drop(columns=['Code'],inplace=True)
life_exp.rename(columns={"Life Expectancy": "life_expectancy"},inplace=True)

gdp_health.drop(columns=['Code'],inplace=True)
gdp_health.rename(columns={"Health expenditure, total (% of GDP)": "share_gdp_health"},inplace=True)

mental_share.drop(columns=['Code'],inplace=True)
mental_share.rename(columns={"DALYs (Disability-Adjusted Life Years) - Mental and substance use disorders - Sex: Both - Age: All Ages (Percent)": "mental_health_daly"},inplace=True)

mental_pop.drop(columns=['Code'],inplace=True)
mental_pop.rename(columns={"Prevalence - Mental and substance use disorders - Sex: Both - Age: Age-standardized (Percent)": "mental_health_share"},inplace=True)

merge1 = pd.merge(life_exp,
                  gdp_health,
                  how='left',
                  left_on=['Entity','Year'],
                  right_on=['Entity','Year'],
                  suffixes=('', '_y'),
                  indicator=True).fillna(np.nan)

merge1.head(20)

         Entity  Year  Life expectancy  share_gdp_health     _merge
0   Afghanistan  1960           32.446               NaN  left_only
1   Afghanistan  1961           32.962               NaN  left_only
2   Afghanistan  1962           33.471               NaN  left_only
3   Afghanistan  1963           33.971               NaN  left_only
4   Afghanistan  1964           34.463               NaN  left_only
5   Afghanistan  1965           34.948               NaN  left_only
6   Afghanistan  1966           35.430               NaN  left_only
7   Afghanistan  1967           35.914               NaN  left_only
8   Afghanistan  1968           36.403               NaN  left_only
9   Afghanistan  1969           36.900               NaN  left_only
10  Afghanistan  1970           37.409               NaN  left_only
11  Afghanistan  1971           37.930               NaN  left_only
12  Afghanistan  1972           38.461               NaN  left_only
13  Afghanistan  1973           39.003               NaN  left_only
14  Afghanistan  1974           39.558               NaN  left_only
15  Afghanistan  1975           40.128               NaN  left_only
16  Afghanistan  1976           40.715               NaN  left_only
17  Afghanistan  1977           41.320               NaN  left_only
18  Afghanistan  1978           41.944               NaN  left_only
19  Afghanistan  1979           42.585               NaN  left_only

In [55]:
merge1.drop(columns=['_merge'],inplace=True)
merge2 = pd.merge(merge1,
                  mental_share,
                  how='left',
                  left_on=['Entity','Year'],
                  right_on=['Entity','Year'],
                  suffixes=('', '_y'),
                  indicator=True).fillna(np.nan)

merge2.head(10)

,Entity,Year,Life expectancy,share_gdp_health,mental_health_daly,_merge
0,Afghanistan,1960,32.446,NaN,NaN,left_only
1,Afghanistan,1961,32.962,NaN,NaN,left_only
2,Afghanistan,1962,33.471,NaN,NaN,left_only
3,Afghanistan,1963,33.971,NaN,NaN,left_only
4,Afghanistan,1964,34.463,NaN,NaN,left_only
5,Afghanistan,1965,34.948,NaN,NaN,left_only
6,Afghanistan,1966,35.430,NaN,NaN,left_only
7,Afghanistan,1967,35.914,NaN,NaN,left_only
8,Afghanistan,1968,36.403,NaN,NaN,left_only
9,Afghanistan,1969,36.900,NaN,NaN,left_only

In [56]:
merge2.drop(columns=['_merge'],inplace=True)
merge3 = pd.merge(merge2,
                  mental_pop,
                  how='left',
                  left_on=['Entity','Year'],
                  right_on=['Entity','Year'],
                  suffixes=('', '_y'),
                  indicator=True).fillna(np.nan)

merge3.head(60)

,Entity,Year,Life expectancy,share_gdp_health,mental_health_daly,mental_health_share,_merge
0,Afghanistan,1960,32.446,NaN,NaN,NaN,left_only
1,Afghanistan,1961,32.962,NaN,NaN,NaN,left_only
2,Afghanistan,1962,33.471,NaN,NaN,NaN,left_only
3,Afghanistan,1963,33.971,NaN,NaN,NaN,left_only
4,Afghanistan,1964,34.463,NaN,NaN,NaN,left_only
5,Afghanistan,1965,34.948,NaN,NaN,NaN,left_only
6,Afghanistan,1966,35.430,NaN,NaN,NaN,left_only
7,Afghanistan,1967,35.914,NaN,NaN,NaN,left_only
8,Afghanistan,1968,36.403,NaN,NaN,NaN,left_only
9,Afghanistan,1969,36.900,NaN,NaN,NaN,left_only
10,Afghanistan,1970,37.409,NaN,NaN,NaN,left_only
11,Afghanistan,1971,37.930,NaN,NaN,NaN,left_only
12,Afghanistan,1972,38.461,NaN,NaN,NaN,left_only
13,Afghanistan,1973,39.003,NaN,NaN,NaN,left_only
14,Afghanistan,1974,39.558,NaN,NaN,NaN,left_only
15,Afghanistan,1975,40.128,NaN,NaN,NaN,left_only
16,Afghanistan,1976,40.715,NaN,NaN,NaN,left_only
17,Afghanistan,1977,41.320,NaN,NaN,NaN,left_only
18,Afghanistan,1978,41.944,NaN,NaN,NaN,left_only
19,Afghanistan,1979,42.585,NaN,NaN,NaN,left_only
20,Afghanistan,1980,43.244,NaN,NaN,NaN,left_only
21,Afghanistan,1981,43.923,NaN,NaN,NaN,left_only
22,Afghanistan,1982,44.617,NaN,NaN,NaN,left_only
23,Afghanistan,1983,45.324,NaN,NaN,NaN,left_only
24,Afghanistan,1984,46.040,NaN,NaN,NaN,left_only
25,Afghanistan,1985,46.761,NaN,NaN,NaN,left_only
26,Afghanistan,1986,47.486,NaN,NaN,NaN,left_only
27,Afghanistan,1987,48.211,NaN,NaN,NaN,left_only
28,Afghanistan,1988,48.930,NaN,NaN,NaN,left_only
29,Afghanistan,1989,49.640,NaN,NaN,NaN,left_only
30,Afghanistan,1990,50.331,NaN,1.320975,17.553463,both
31,Afghanistan,1991,50.999,NaN,1.354445,17.837032,both
32,Afghanistan,1992,51.641,NaN,1.506504,18.092542,both
33,Afghanistan,1993,52.256,NaN,1.487670,18.294931,both
34,Afghanistan,1994,52.842,NaN,1.389687,18.428908,both
35,Afghanistan,1995,53.398,NaN,1.397126,18.483440,both
36,Afghanistan,1996,53.924,NaN,1.420524,18.481194,both
37,Afghanistan,1997,54.424,NaN,1.419136,18.463648,both
38,Afghanistan,1998,54.906,NaN,1.386989,18.439805,both
39,Afghanistan,1999,55.376,NaN,1.453668,18.402616,both
40,Afghanistan,2000,55.841,NaN,1.508461,18.361336,both
41,Afghanistan,2001,56.308,NaN,1.551658,18.278065,both
42,Afghanistan,2002,56.784,7.763073,1.721417,18.137951,both
43,Afghanistan,2003,57.271,8.816053,1.800411,17.958849,both
44,Afghanistan,2004,57.772,8.786707,1.881324,17.788825,both
45,Afghanistan,2005,58.290,8.068104,1.989248,17.647911,both
46,Afghanistan,2006,58.826,7.433972,2.035171,17.539914,both
47,Afghanistan,2007,59.375,6.728316,2.146550,17.444318,both
48,Afghanistan,2008,59.930,8.328093,2.298615,17.357110,both
49,Afghanistan,2009,60.484,9.418971,2.406117,17.275369,both
50,Afghanistan,2010,61.028,9.197723,2.539439,17.203450,both
51,Afghanistan,2011,61.553,7.871992,2.656310,17.136300,both
52,Afghanistan,2012,62.054,8.518913,2.745618,17.073037,both
53,Afghanistan,2013,62.525,8.134866,2.852844,17.017708,both
54,Afghanistan,2014,62.966,8.182274,2.846602,16.955169,both
55,Afghanistan,2015,63.377,NaN,2.836450,16.909515,both
56,Afghanistan,2016,63.763,NaN,2.858358,16.868402,both
57,Afghanistan,2017,64.130,NaN,3.240075,16.830857,both
58,Afghanistan,2018,64.486,NaN,NaN,NaN,left_only
59,Afghanistan,2019,64.833,NaN,NaN,NaN,left_only

In [57]:
merge3.drop(columns=['_merge'],inplace=True)
# save final csv file
merge3.to_csv(os.path.join(final_data_dir,'HEALTH.csv'),index=False)

## SECURITY TABLE